<footer id='footer' class='page-footer'>
    <div class="container">
    	<div class="row">


			<!-- LOGO -->
    		<div class="col-12">
	        <span class='footer-title'>Frontline Nurses</span>
	        <span class="footer-rights">&#169; 2020 Columbia University</span>
	    	</div>

	    	    		<!-- SOCIAL MEDIA -->
            <div class="col-12 social-media-icons">
            <!-- Twitter -->
            <a href="https://twitter.com/OFrontlines"><img src="{{site.baseurl}}/img/twitter.png" width="40" height="40"></img></a>
            <!-- Facebook -->
            <a href="https://www.facebook.com/frontlinenursesandmidwives"><img src="{{site.baseurl}}/img/facebook.png" width="40" height="40"></img></a>
            <!-- Instagram -->
            <a href="https://www.instagram.com/frontlinenursesandmidwives/"><img src="{{site.baseurl}}/img/instagram.png" width="40" height="40"></img></a>
            </div>



        </div>
    </div>
</footer>