<div class='header container-fluid'>
  <!-- Title -->
  <span class='header-title'>{{ site.title | newline_to_br }}:</span>
  <!-- end Title -->
  <!-- Sidebar -->
  <nav id="drawerSidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a class="menu-item" href="#">Home</a>
    <a class="menu-item" href="#">Ebola</a>
    <a class="menu-item" href="#">Covid-19</a>
    <a class="menu-item" href="#">About</a>
    <a class="menu-item" href="#">Contact</a>
  </nav>
  <span class="menu-button" style="cursor:pointer" onclick="openNav()" data-target='#wax-header-navbar' aria-controls='wax-header-navbar' aria-expanded='false' aria-label='navigation'>&#9776; menu</span>
  <!-- End Sidebar -->
</div>
