html, body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  font-family: $body-font;
  font-display: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

.wax-inline-container {
	margin: 2%;
}

// 

a {
	text-decoration-thickness: 2px;
}

// Navbar



.navbar-brand, .menu-button {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  /* identical to box height */
  letter-spacing: -0.02em;
}

.navbar-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 185px;
  line-height: 155px;
  /* or 62% */
  letter-spacing: -0.035em;
  color: $text-color;
  margin-bottom: 160px;
  display: block;
}

// Banner

.banner-text {
	width: 45%;
	margin-left: 2%;
}

.banner-image {
  background-position: 36% 51%;
  height: 500px !important;
  position: absolute;
  top: 80px;
  right: 20px;
  width: 50%;
}



// Sidebar

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.menu-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 70px;
  font-weight: 300;
  display: block;
  transition: 0.3s;
  color: $text-color;
}

.sidenav a.menu-item {
  border-bottom: 2px solid black;
  padding: 0 2px;
  margin: 0 10px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
