html, body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  font-family: $body-font;
  font-display: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

.main {
  background-color: #fff;
  width: 100%

}

.container {
  max-width: 98%
}



// General

a:hover {
  color: $accent-light;
  text-decoration: none;
}


// Header 


.header-title, .menu-button {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  /* identical to box height */
  letter-spacing: -0.02em;
}

// Banners

.banner .row {
  padding-bottom: 1rem;
}

.page-title {
  padding-bottom: 18rem;
}

a.page-title-link, {
  font-size: 185px;
  line-height: 62%;
  /* or 62% */
  letter-spacing: -0.035em;
  color: $text-color;
  text-decoration: none;
  margin-left: -0.8rem;
  // border-bottom: 6px solid black;
  // padding-bottom: -2px;
}

a.page-title-link:hover {
  color: $accent-light;
}


.banner-image-right {
  height: 40rem !important;
  overflow-y: hidden;
}

  /* For mobile phones: */

@media only screen and (max-width:620px) {
  .banner-text-bottom-left, .banner-image-right {
    width:100%;
  }
}

// Content

.content .row {
  padding-top: 8rem;
}

.content {
  padding-bottom: 8rem;
}

// Sidebar

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.menu-button {
  float: right; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 50px;
  font-weight: 300;
  display: block;
  transition: 0.3s;
  color: $text-color;
}

.sidenav a.menu-item {
  border-bottom: 2px solid black;
  padding: 0 2px;
  margin: 0 10px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 5rem;
  margin-left: 50px;
  margin-top: -2rem;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 10px;}
  .sidenav a {font-size: 18px;}
}

// Footer

#footer {
}

.footer-title {
  font-size: 4rem;
  letter-spacing: -0.035em;
}
