html, body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  font-family: $body-font;
  font-display: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

.main {
  background-color: #fff;
  width: 100%
}

.container {
  max-width: 98%
}

.main.container {
  padding-bottom: 8rem;
  padding-top: 8rem;
}

.home .header-title {
  font-size: 14rem;
  width: 80%;
  display: inline-block;
  line-height: .8;
  margin-left: -1.5vw;
}

.home .page-subtitle {
  font-size: 2rem;
}



// General

h2 {
  padding-top: 3rem;
}

.ebola h2 {
  color: $accent-light-blue;
}

h3 {
  padding-top: 2rem;
}

p {
  font-size: 1.2rem;
}

a {
  color: $accent-dark;
}

a:hover {
  color: $neutral;
  text-decoration: none;
}

blockquote {
  padding-left: 3rem;
  padding-right: 3rem;
  color: #666;
  font-size: 1.3rem;
}

span.attribution {
  font-size: 1rem;
  text-align: right;
}


// Header 

#project.ebola .header, 
#project.ebola .banner, 
#ebola_item .header, 
#ebola_item .banner, .banner.ebola {
  background-color: $accent-light-blue;
}

#project.covid .header, 
#project.covid .banner, 
#covid_item .header, 
#covid_item .banner, .banner.covid {
  background-color: $accent-light-sepia;
}

.header-title, .header-subtitle, .menu-button {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  /* identical to box height */
  letter-spacing: -0.02em;
}

.banner.covid, .banner.ebola {
  a {
    color: white;
    font-size: 1.2rem;
    text-decoration: underline;
  }
}

.body-header {
  font-size: 8rem;
  margin-bottom: 2rem;
  margin-left: -.8vw;
}


#home .header-subtitle {
  display: none ;
}

#frontlines_item .header-subtitle {
  color: $bg-color;
}

#collection .header-subtitle {
  color: $accent-light-blue;
}


// Banners

#collection .banner {
  margin-bottom: 8rem;
}

.banner .row {
  padding-bottom: 1rem;
}

.person-name {
  font-size: 90px;
  letter-spacing: -0.035em;
  line-height: 62%;
}


span.page-title-text, {
  font-size: 185px;
  line-height: 62%;
  /* or 62% */
  letter-spacing: -0.035em;
  color: $text-color;
  text-decoration: none;
  // border-bottom: 6px solid black;
  // padding-bottom: -2px;
}

span.page-title-text.accent-light-blue, span.page-title-text.ebola {
  color: $accent-light-blue;
}

a.page-title-text:hover {
  color: $neutral;
}

.banner-text {
  padding-top: 18rem;
}


.banner-image-right {
  height: 40rem !important;
  overflow-y: hidden;
}

.person-picture.row {
  padding-bottom: 8rem;
  padding-top: 8rem;
}

.vl {
  border-left: 4px solid black;
  height: 8rem;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  margin-top: -4rem;
}

  /* For mobile phones: */

@media only screen and (max-width:620px) {
  .banner-text-bottom-left, .banner-image-right {
    width:100%;
  }
}

// Content

.content .row {
  padding-top: 8rem;
}

.content {
  padding-bottom: 8rem;
}

.sound-player {
  margin-bottom: 8rem;
}

.question {
  color: $accent-light-blue;
  font-weight: bold;
  font-size: 1.3rem;
}
// Wax

.wax-inline-container {
  @extend .container;

  margin: 0 auto;
  max-width: 90%;
  width: $max-width;
  overflow: flex-wrap;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: $more-margin;
}


.wax-gallery-container {
  .facet-buttons {
    .facet {
      @extend .btn-outline-secondary;
      margin-right: .5em;
      margin-top: 1rem;
      font-family: $heading-font;
      border-color: $text-color;
      text-transform:capitalize;
    }
    .active{
      @extend .facet;
      background-color: $text-color;
      color: $bg-color;
    }
  }
  .wax-gallery {
    margin: $margin auto;
    min-height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .gallery-item {
      padding: 0;
      margin: .25rem;
      background-color: #ffffff;
      max-height: $thumbnail-height;
      max-width: $thumbnail-width;
      border: 1px grey solid;

      .gallery-thumb {
        object-position: 50% 20%;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;

        &:hover {
          .overlay {
            opacity: .7;
            cursor: pointer;
            .info {
              opacity: 1;
              filter: alpha(opacity=100);
              -webkit-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1);
              // display: none;
            }
          }
        }

        .info {
          text-decoration: none;
          font-family: $heading-font !important;
          color: $text-color !important;
          background-color: transparent;
          opacity: 0;
          filter: alpha(opacity=0);
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          font-weight: normal;
          overflow: hidden;
          display: table-cell;
          vertical-align: middle;
          padding: 0 $margin 0 $margin;
          font-size: 1.2rem;
        }     

        .overlay {
          width: 100%;
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          background-color: $accent-light-blue;
          opacity: 0;
          -webkit-transition:opacity 0.5s ease-in-out;
          transition: opacity 0.5s ease-in-out;
          display: table;
          height: 200px;
        }
      }
    }
  }
}
// Sidebar

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  filter: drop-shadow(0 0 .75rem $neutral);
}

.menu-button {
  float: right; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 50px;
  font-weight: 300;
  display: block;
  transition: 0.3s;
  color: $text-color;
}

.sidenav a.menu-item {
  border-bottom: 2px solid black;
  padding: 0 2px;
  margin: 0 10px;
}

.sidenav a:hover {
  color: $accent-light-blue;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 5rem;
  margin-left: 50px;
  margin-top: -2rem;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 10px;}
  .sidenav a {font-size: 18px;}
}

// Footer

#footer {
  // background-color: $accent-light-blue;
  width: 100%;
}

.footer-title {
  font-size: 4rem;
  letter-spacing: -0.035em;
}
