---
sitemap: false
---
/*
variable declaration
*/

/* branding */
// $logo: url("{{ '/assets/logo.png' | absolute_url }}");


@font-face {
    font-family: BasisGrotesque;
    src: url({{site.baseurl}}/assets/fonts/basis-grotesque-regular-pro-web/web/basis-grotesque-regular-pro.eot);
    src: url({{site.baseurl}}/assets/fonts/basis-grotesque-regular-pro-web/web/basis-grotesque-regular-pro.eot?#iefix) format("embedded-opentype"), url({{site.baseurl}}/assets/fonts/basis-grotesque-regular-pro-web/web/basis-grotesque-regular-pro.ttf) format("truetype"), url({{site.baseurl}}/assets/fonts/basis-grotesque-regular-pro-web/web/basis-grotesque-regular-pro.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: BasisGrotesque;
    src: url('{{site.baseurl}}/assets/fonts/basis-grotesque-italic-pro-web/web/basis-grotesque-italic-pro.eot');
    src: url('{{site.baseurl}}/assets/fonts/basis-grotesque-italic-pro-web/web/basis-grotesque-italic-pro.eot?#iefix') format('embedded-opentype'),
         url('{{site.baseurl}}/assets/fonts/basis-grotesque-italic-pro-web/web/basis-grotesque-italic-pro.woff2') format('woff2'),
         url('{{site.baseurl}}/assets/fonts/basis-grotesque-italic-pro-web/web/basis-grotesque-italic-pro.woff') format('woff'),
         url('{{site.baseurl}}/assets/fonts/basis-grotesque-italic-pro-web/web/basis-grotesque-italic-pro.ttf') format('truetype');
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: BasisGrotesque;
    src: url({{site.baseurl}}/assets/fonts/basis-grotesque-light-pro-web/web/basis-grotesque-light-pro.eot);
    src: url({{site.baseurl}}/assets/fonts/basis-grotesque-light-pro-web/web/basis-grotesque-light-pro.eot?#iefix) format("embedded-opentype"), url({{site.baseurl}}/assets/fonts/basis-grotesque-light-pro-web/web/basis-grotesque-light-pro.ttf) format("truetype"), url({{site.baseurl}}/assets/fonts/basis-grotesque-light-pro-web/web/basis-grotesque-light-pro.woff) format("woff");
    font-weight: 300;
    font-style: normal
}



/* text */

$body-font:       'BasisGrotesque', 'sans-serif';
$heading-font:    'BasisGrotesque', 'sans-serif';


/* Image Size */

$thumbnail-height: 180px;
$thumbnail-width: 180px;

/* colors */

$text-color:      #000;
$bg-color:        #fff;
$neutral:         #eae7de;
$accent-light-blue:    #90CAE1;
$accent-light-sepia: #CFA38A;
$accent-dark:     #90CAE1;

// #0776A0;



/* viewport sizes */

$max-width:       100%;

/* margins */

$less-margin:     1.0rem;
$margin:          1.5rem;
$more-margin:     2.0rem;
$super-margin:    3.0rem;


$viewer-height:   550px;
$parallax-height: 350px;
$footer-height:   250px;

/*
font & asset import
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&font-display=auto');
// @import 'wax';
@import 'bootstrap';
@import 'frontlines';


