---
sitemap: false
---
/*
variable declaration
*/

/* branding */
// $logo: url("{{ '/assets/logo.png' | absolute_url }}");

@font-face {
    font-family: 'basis-grotesque-regular-pro';
    src: url('fonts/basis-grotesque/web/basis-grotesque-regular-pro.eot');
    src: url('fonts/basis-grotesque/web/basis-grotesque-regular-pro.eot?#iefix') format('embedded-opentype'),
         url('fonts/basis-grotesque/web/basis-grotesque-regular-pro.woff2') format('woff2'),
         url('fonts/basis-grotesque/web/basis-grotesque-regular-pro.woff') format('woff'),
         url('fonts/basis-grotesque/web/basis-grotesque-regular-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* text */

$body-font:       'basis-grotesque-regular-pro', 'sans-serif';
$heading-font:    'basis-grotesque-regular-pro', 'sans-serif';


/* Image Size */

// $thumbnail-height: 140px;
// $thumbnail-width: 140px;

/* colors */

$text-color:      #000;
$bg-color:        #90CAE1;
// $neutral:         #eae7de;
// $accent-light:    #966d09;
// $accent-dark:     #644906;

/* viewport sizes */

// $max-width:       800px;

/* margins */

// $less-margin:     1.0rem;
// $margin:          1.5rem;
// $more-margin:     2.0rem;
// $super-margin:    3.0rem;


// $viewer-height:   550px;
// $parallax-height: 350px;
// $footer-height:   250px;

/*
font & asset import
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&font-display=auto');
// @import 'wax';
@import 'bootstrap';
@import 'frontlines';


