---
layout: default
---

<!-- BANNER -->


<section class="Card h-a mh-100-md relative flex flex-column Card--blue banner container-fluid" style="background-color:#90CAE1">
  <div class="flex flex-auto flex-column flex-row-lg relative Card__inner w-100 pa3 row page-title">
      <div class="Card__title relative absolute-md ma3-md col-10">
        <h4 class="body-header-sub">Frontline Nurses: {% if page.collection == 'ebola' %}Ebola{% elsif page.collection == 'covid' %}Covid-19{% endif %}</h4>
        <h3 class="body-header nurse-name dib">{{ page.name | newline_to_br }}</h3><br>
        <p alt="{{ page.title }}" class='person-title'>{{ page.title }}</p>
      </div>

      <div class='person-picture row flex items-start items-end-md h-a h-50-md h-a-lg w-100 mt6 mt0-md'>
        <div class='mr3 image-fluid col-12 text-center'>
          <img class='item-full-image' src='{{ page.full | absolute_url }}' alt='{{ page.name | slugify }}' />
        </div>
      </div>
  </div>
</section>




<div class="vl"></div>
  
{% comment %}{% include item_pagination.html %}{% endcomment %}


<!-- METADATA TABLE -->

<div class='main container'>

    <p>{{page.bio}}</p>

    <br>
    <br>

  <!-- SOUNDCLOUD -->
  <div class="row sound-player">
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ page.soundcloud_api }}&color=%2390cae1&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-568440441" title="Frontline Nurses" target="_blank" style="color: #cccccc; text-decoration: none;">Frontline Nurses</a> · <a href="https://soundcloud.com/user-568440441/{{page.pid}}" title="{{ page.name }}" target="_blank" style="color: #cccccc; text-decoration: none;">{{ page.name }} Interview Excerpts</a></div>
  </div>   

  <!-- TRANSCRIPTIONS -->  
  

  <div class="row justify-content-center">
    <div class="col-8">

    {% capture excerpt %}{% include excerpts/{{ page.pid }}.md %}{% endcapture %}  

    {{ excerpt | markdownify }}

    <hr>



    <p>{{page.name}} was interviewed for <em>Frontline Nurses</em> by {{page.interviewed_by}} on {{page.interview_date}} in {{page.interview_city}}, {{page.interview_country}}.</p>

    <hr>

   <a href="{{site.baseurl}}/ebola/collection/" class="menu-button" alt="Listen to another interview">Listen to another interview</a></p>
    </div>
  </div>

</div>
