---
layout: default
---

<section class="Intro mh-100 flex flex-column">
  <div class="Intro__inner flex flex-column flex-auto justify-between relative w-100 pt5 pt3-md pa3">
      <div class="Intro__top">
          <h1 class="page-header">Frontline Nurses</h1>
          <h3 class="section-header mt2">Leaders in Pandemic Response</h3>
      </div>
      <div class="Intro__bottom w-100 w-50-lg mt6">
          <p>Frontline Nurses: Leaders in Pandemic Response seeks to document the role of frontline nurses in pandemic disease outbreaks, to recognize nurses and midwives for their critical contribution to public health during emergencies, and to advocate for nurses’ expertise in health care policymaking and improved health outcomes. </p><svg class="db mha mv2 dn-lg" width="38" height="37" viewBox="0 0 38 37" fill="none">
              <path d="M36.9958 17.9958L19 35.9915L1.00423 17.9958" stroke="black" stroke-width="0.5"></path>
          </svg>
      </div>
  </div>
</section>


<!-- <div class="banner container-fluid mb5">
  <div class="row">
    <div class="col-md-10">
        <div class="page-title">
          <span class='page-subtitle {{page.section}}'>{{ page.subtitle | newline_to_br }}</span>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6 banner-text">
        <p>Frontline Nurses: Leaders in Pandemic Response seeks to document the role of frontline nurses in pandemic disease outbreaks, to recognize nurses and midwives for their critical contribution to public health during emergencies, and to advocate for nurses’ expertise in health care policymaking and improved health outcomes.</p>
      </div>
  </div>
</div> -->

	{{ content }}
