---
layout: default
title: Ebola
---

<div class="homepage">
    <div class="banner">
      <div class="banner-text">
        <p>The 2014-16 Ebola outbreak in western African countries was a devastating epidemic in which healthcare workers confronted soaring contagion and mortality.  In summer 2019, a team of nursing and midwifery leaders conducted oral history interviews with a group of frontline Ebola nurses and midwives in Liberia and Sierra Leone. Their stories and insights show the crucial role of nursing leadership in epidemic response and offer essential lessons for health care and policymaking today.</p>
        <p>Listen to the voices of the nurses and read excerpts from their oral histories.</p>        
      </div>
      <div class='banner-image' style="background-image: url('{{site.baseurl}}/img/home.jpg');"></div>
    </div>
    
    <div id='main-content' class='wax-inline-container'>
        {{ content }}
    </div>
    
</div>