---
layout: default
---


<div class="banner container-fluid mb5">
  <div class="row">
    <div class="col-md-10">
        <div class="page-title">
          <span class='page-subtitle {{page.section}}'>{{ page.subtitle | newline_to_br }}</span>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6 banner-text">
        <p>Frontline Nurses: Leaders in Pandemic Response seeks to document the role of frontline nurses in pandemic disease outbreaks, to recognize nurses and midwives for their critical contribution to public health during emergencies, and to advocate for nurses’ expertise in health care policymaking and improved health outcomes.</p>
      </div>
  </div>
</div>

	{{ content }}
