---
layout: default
---

<section class="Card">
    <div class="flex flex-auto flex-column flex-row-lg relative Card__inner w-100 pa3">
      <div class="Card__title relative absolute-md ma3-md">
        <h4 class="body-header-sub">Frontline Nurses: {{page.section}}</h4>
        <h3 class="body-header dib {% if page.section == 'Ebola' %}accent-light-blue{% elsif page.section == 'Covid-19' %}accent-light-brown{% endif %}">{{ page.title | newline_to_br }}</h3>
      </div>
    </div>
</section>

<div class='main container'>

  <div class="row justify-content-md-center">
    <div class="col-md-8 my5">
  {{ content }}
  </div>
  </div>


</div>


